[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==2.0.3"
pyqt5 = "==5.15.11"
pyqt5-sip = "==12.15.0"
tqdm = "==4.67.0"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.16"
